
body {
  background-image: url(../img/bg.png);
  background-size: cover;
  font-family: "Ubuntu", sans-serif;
}


.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


.logo {
  margin-left: 80px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}


.right-content {
  display: flex;
  align-items: center;
}


.header-img {
  margin: 0 25px;
}


.icon {
  width: 23px;
  height: 23px;
  fill: white;
  transition: 0.5s;
}

.logo:hover,
.icon:hover,
.header:hover {
  color: #01813f;
  fill: #01813f;
  transition: 0.5s;
}


.welcome {
  border-left: 1px solid white;
  margin-right: 80px;
}


.welcome-text {
  margin-left: 25px;
}

.welcome-text a {
  transition: 0.5s;
}


.form-box {
  margin: 27px auto;
  position: relative;
  width: 450px;
  height: 600px;
  background-color: white;
}


.form-header {
  padding-top: 10px;
  width: 330px;
  margin: 0 auto;
}


.title {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.title a {
  transition: 0.5s;
}

.title a:hover {
  text-decoration: underline;
  color: #01813f;
  transition: 0.5s;
}

.sign-up.form {
  font-size: 20px;
}


.sign-up.form::before {
  position: absolute;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  background: #3cb878;
}

.log-in.form {
  display: flex;
  font-size: 14px;
  justify-content: end;
  color: #3cb878;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 160px;
  font-size: 16px;
  color: white;
  border-radius: 3px;
  border: none;
}

.fb.button,
.google.button {
  display: flex;
  align-items: center;
  padding: 12px 0;
  transition: 0.5s;
}

.fb.button {
  background: #305db8;
}

.google.button {
  background: #df4a32;
}

.fb:hover {
  background: #022263;
  transition: 0.5s;
}

.google:hover {
  background: #ab1f09;
  transition: 0.5s;
}

.fb img,
.google img {
  padding: 0 15px;
  border-right: 1px solid rgba(10, 22, 47, 0.1);
}

.fb.button p,
.google.button p {
  font-family: "Ubuntu", sans-serif;
  padding-left: 18px;
}

.or-line {
  display: flex;
  margin-top: 30px;
  text-align: center;
  color: #848484;
}

.or-line p {
  padding: 0 5px;
}

hr {
  margin-top: 7px;
  width: 150px;
  height: 1px;
  background: #f2f2f2;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-area {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #434343;
  width: 330px;
  height: 45px;
  margin-top: 15px;
  padding-left: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

.type-area::placeholder {
  color: #bebebe;
}

.type-area:focus {
  box-shadow: -1px 5px 10px 3px rgb(224, 223, 223);
  outline: 0;
}

.terms {
  margin-top: 15px;
  color: #434343;
  font-size: 14px;
}

.terms a {
  color: rgba(60, 184, 120, 0.8);
  transition: 0.5s;
}

.terms a:hover {
  text-decoration: underline;
  color: #01813f;
  transition: 0.5s;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 1px;
  margin-right: 10px;
}

.custom-checkbox:checked + label::before {
  background-image: url(../img/main/agree.svg);
  background-size: contain;
}

.form label {
  margin-left: -65px;
}

.create-account {
  font-family: "Ubuntu", sans-serif;
  width: 330px;
  margin-top: 20px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 3px;
  border: none;
  font-size: 16px;
  color: white;
  padding: 16px 0;
  transition: 0.5s;
}

.create-account:hover {
  background: #01813f;
  transition: 0.5s;
}
