
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container {
    width: 1280px;
    font-family: Roboto;
    margin: 0 auto;
}

.colortext {
color: #6fd1ff;
}

.header-logo {
font-size: 80px;
line-height: 94px;
display: flex;
text-align: center;
margin: 63px 0 38px 0;
}

.nav-menu-wrap {
    background-color: #35444F;
    display: flex;
    justify-content: center;
}

.nav-menu-item {
    padding: 23px 35px 20px 35px;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    background-color: #35444F;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}


.main {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    }

    .main-section {
    width: 885px;
    }


.left-menu-wrap {
    border: 1px solid #000;
    width: 344px;
    height: 400px;
}


.left-item {
    height: 80px;
    padding-left: 44px;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-top: 25px;
}


.image {
    border: 1px solid #000;
    height: 529px;
    text-align: center;
    padding-top: 75px;
}


.image-logo {
    transition: 1s;
}


.main-text {
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}


.footer {
    background-color: #63696E7A;
    margin-top: 54px;
    display: flex;
    color: #0C1927;
    height: 70px;
    margin-bottom: 30px;
}


.footer-menu {
    width: 875px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    box-sizing: content-box;
}


.footer-item {
    padding: 23px 0px 20px 0;
}


.footer-copyright {
    padding: 23px 0 0 135px;
    font-size: 24px;
    line-height: 24px;
}


.nav-menu-item:hover {
    background: #222F3A;
}

.image-logo:hover {
    transition: 1s;
    transform: scale(1.1);

}

.left-item:hover {
    background: #DBDBDB;
    padding-left: 70px;
    transition: 0.5s;
    color: #161c20;
}

.footer-item:hover {
    color: #3181A6;
    text-decoration: underline;
    transition: 0.5ms;
}