

body {
  background-image: url(../img/background.png);
  background-size: cover;
}



.container {
  font-family: "Roboto", sans-serif;
  width: 1030px;
  margin: 0 auto;
}

.header-box {
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo:hover {
  color: #f26522;
}

.logo-img {
  width: 54px;
  height: 47px;
  background-image: url(../img/header/logo.svg);
}

.logo:hover .logo-img {
  background-image: url(../img/header/logo_hover.png);
}


.logo-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-between;
}


.logo-text-part1 {
  margin-top: 5px;
  font-size: 29px;
}


.logo-text-part2 {
  font-size: 18px;
}


.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.email:hover,
.phone-number:hover {
  color: #f26522;
}


.main-box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.item {
  display: block;
  color: white;
  position: relative;
}


.title {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item:hover .title {
  color: #f26522;
}


.item4,
.item5,
.item6 {
  margin-top: 20px;
}


.hidden-hover {
  opacity: 0;
  position: absolute;
  top: 220px;
  left: 2px;
  width: 300px;
  height: 55px;
  background: #f26522;
  transition: 0.2s;
}

.item:hover .hidden-hover {
  top: 165px;
  opacity: 1;
  transition: 0.2s;
}

.hidden-hover p {
  position: absolute;
}

.item2 .hidden-hover {
  left: 4px;
}

.item2 .title {
  margin-top: 10px;
}

.from {
  font-size: 10px;
  left: 20px;
  top: 10px;
}

.price {
  font-size: 20px;
  left: 20px;
  top: 25px;
}

.details {
  font-size: 15px;
  left: 185px;
  top: 30px;
}

.details::after {
  content: "›";
  padding-left: 16px;
}


.copyright-box {
  margin: 50px auto 15px;
  text-align: center;
  color: white;
  font-size: 12px;
}
